table {
  width: 100%;
}
mat-header-cell, mat-cell {
  justify-content: left;
}
.left-text {
  text-align: left;
}

.btn-primary:disabled {
  opacity: 0.3;
}

.register{
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  min-width: 100px;
}


